{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!
{% endblock %}

{% block body %}
    <a href="{{path('move', {'direction': 'N'})}}">North</a>
    <a href="{{path('move', {'direction': 'E'})}}">East</a>
    <a href="{{path('move', {'direction': 'S'})}}">South</a>
    <a href="{{path('move', {'direction': 'W'})}}">West</a>

	<div class="board" style="--grid-colums:{{ constant('App\\Controller\\BoardController::BOARD_COLUMNS') }};
											--grid-rows:{{ constant('App\\Controller\\BoardController::BOARD_ROWS') }};">

        {% set directions = ['north', 'south', 'east', 'west'] %}
		{% for tile in boardTiles %}
			{% if tile is not null %}
				<div class="tile
                    {% for direction in directions|filter(direction => attribute(tile, direction) is not null ) %}
                        {{ direction }}-{{ attribute(tile, direction) }}
                    {% endfor %}
                    " style="--tile-background:{{tile.room.color ?? 'grey'}}
                ">
                    {% for hero in heroes %}
                        {% if hero.x == tile.x and hero.y == tile.y %}
                            <div class="hero">H</div>
                        {% endif %}
                    {% endfor %}
                </div>
			{% else %}
				<div class="tile"></div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
