{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!
{% endblock %}

{% block body %}
	{{ currentCharacter.name }} {{ currentCharacter.remainingMove }}
	<a href="{{path('move', {'direction': 'North'})}}">North</a>
	<a href="{{path('move', {'direction': 'East'})}}">East</a>
	<a href="{{path('move', {'direction': 'South'})}}">South</a>
	<a href="{{path('move', {'direction': 'West'})}}">West</a>
	<a href="{{path('end_turn')}}">End of Turn</a>

	<div class="board" style="--grid-columns:{{ constant('App\\Controller\\BoardController::BOARD_COLUMNS') }};
																							--grid-rows:{{ constant('App\\Controller\\BoardController::BOARD_ROWS') }};">

		{% set directions = ['north', 'south', 'east', 'west'] %}
		{% for tile in boardTiles %}
			{% if tile is not null %}
				<div class="tile
                    {% for direction in directions|filter(direction => attribute(tile, direction) is not null ) %}
                        {{ direction }}-{{ attribute(tile, direction) }}
                    {% endfor %}
                    " 
                    style="--tile-background:{{tile.room.color ?? 'grey'}};
                            --tile-column: {{ tile.x }};
                            --tile-row: {{ tile.y }};
                    ">{{ tile.furniture.name ?? '' }}</div>
			{% else %}
				<div class="tile"></div>
			{% endif %}
		{% endfor %}

		{% for furniture in furnitures %}
			<div class="furniture" style="--furniture-column: {{furniture.startPoint.0 + 1}} / span {{furniture.data.renderWidth}};
                                        --furniture-row: {{furniture.startPoint.1 + 1}} / span {{furniture.data.renderHeight}};
										--furniture-direction: {{ furniture.data.direction }}">
				{{ furniture.data.name }}
			</div>
		{% endfor %}
		{% for hero in heroes %}
			<div class="hero" style="--hero-row: {{ hero.tile.y }}; --hero-column: {{ hero.tile.x }};">
				{{ hero.name }}
			</div>
		{% endfor %}
	</div>
{% endblock %}
